$color-ocean: #009fc7;
$color-lightgray: rgb(185, 185, 185);
$color-gray-message: rgb(238, 238, 238);
$color-gray-txt: rgb(128, 128, 128);
$color-green: #93B925;
$color-grey-slider: rgb(151, 151, 151);

@font-face {
    font-family: "Roboto", sans-serif;
    src: url(/assets/font/Roboto-Regular.ttf);
  }